body {
  background-color: #263238;
  font-family: sans-serif;
}
#log {
  padding-left: 10px;
}

#log li {
  padding: 3px;
  list-style-type: none;
  border-bottom: 1px dotted #50646f;
}

#log li[data-level='log'] {
  color: #d0cccc;
}

#log li[data-level='error'] {
  color: #e13535;
}

#log li:before {
  content: "\25A0";
  padding-right: 5px;
}